body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    text-align: center;
    color: var(--text);
    background-color: var(--background);
    height: 25%;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    max-width: 140%;
    max-height: 140%;
    height: auto;
    object-fit: contain;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
}

.juego {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(var(--background-rgb), 0.95);
    border-radius: 10px;
    color: var(--text);
    width: 20%;
    aspect-ratio: 1 / 1;
    margin: 1%;
}

.juego h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--text);
}

.juego button {
    border: 2px solid var(--primary);
    border-radius: 10px;
    color: var(--text);
    background-color: var(--background);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
}

.juego button:hover {
    background-color: var(--primary);
    color: var(--text);
}

#buscaminas {
    background-image: url("./images/buscaminas.png");
    background-size: cover;
}

#sudoku {
    background-image: url("./images/sudoku.png");
    background-size: cover;
}

#ajedrez {
    background-image: url("./images/ajedrez.png");
    background-size: cover;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 99%;
    height: 5%;
    color: var(--text);
    background-color: var(--background);
}

#infoboton {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5rem;
    height: 33px;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    background-color: var(--primary);
    border-radius: 50%;
}

#infocaja {
    position: fixed;
    top: calc(0.5rem + 33px);
    right: 0;
    background: var(--background);
    padding: .5rem;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0.5rem;
    color: var(--text);
}

.cajaoculta {
    display: none;
}

:root {
    --primary: #532300;
    /* SaddleBrown - cálido y acogedor */
    --secondary: #D2691E;
    /* Chocolate - energía suave */
    --accent: #F4A460;
    /* SandyBrown - toque claro */
    --background: #2A1F15;
    --background-rgb: 42, 31, 21;
    /* Fondo oscuro marrón */
    --text: #E8D5C4;
    /* Texto claro marrón */
}