body {
    background-color: black;
}


header {
    text-align: center;
    margin: 0.5%;
    color: var(--text);
    background-color: var(--background);
    width: 80%;
    border-radius: 20px;
}

#seleccionar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    color: var(--text);
    background-color: var(--background);
    border-radius: 20px;
}

select {
    background-color: var(--primary);
    border: 1px solid black;
    display: block;
    height: 10%;
    width: 25%;
    border-radius: 20px;
    margin: 0 2%;
    color: var(--text);
}

#caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    background-color: var(--background);
    color: var(--text);
    border-radius: 20px;
}

#caja>p {
    text-align: center;
    height: 100%;
    width: 100%;
}

.oculto {
    width: 1.5%;
    aspect-ratio: 1 / 1;
    margin: 0.1%;
    background-color: var(--primary);
    border: 1px solid black;
    border-radius: 25%;
    font-size: 0;
    color: var(--text);
}

.visible {
    width: 1.5%;
    aspect-ratio: 1 / 1;
    margin: 0.1%;
    background-color: var(--secondary);
    border: 1px solid black;
    border-radius: 25%;
    text-align: center;
    color: var(--text);
}

.minada {
    width: 1.5%;
    aspect-ratio: 1 / 1;
    margin: 0.1%;
    background-color: var(--primary);
    border: 1px solid black;
    border-radius: 25%;
    text-align: center;
    color: var(--text);
}

.bandera {
    width: 1.5%;
    aspect-ratio: 1 / 1;
    margin: 0.1%;
    background-color: var(--primary);
    border: 1px solid black;
    border-radius: 25%;
    text-align: center;
    color: var(--text);
}

.fila {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#boton {
    background-color: var(--primary);
    border: 1px solid black;
    border-radius: 20px;
    color: var(--text);
    margin: 0.5rem;
}

#tiempo {
    text-align: center;
    margin-bottom: .5rem;
    color: var(--text);
}

#infoboton {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5rem;
    height: 33px;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    background-color: var(--primary);
    border-radius: 50%;
}

#infocaja {
    position: fixed;
    top: calc(0.5rem + 33px);
    right: 0;
    background: var(--background);
    padding: .5rem;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0.5rem;
    color: var(--text);
}

.cajaoculta {
    display: none;
}

:root {
    --primary: #532300;
    /* SaddleBrown - cálido y acogedor */
    --secondary: #D2691E;
    /* Chocolate - energía suave */
    --accent: #F4A460;
    /* SandyBrown - toque claro */
    --background: #2A1F15;
    --background-rgb: 42, 31, 21;
    /* Fondo oscuro marrón */
    --text: #E8D5C4;
    /* Texto claro marrón */
}